<p>Player Two please choose your play:</p>
<p>Though it seems pointless as you just saw Player One's play and can thus always win!</p>

<div align="center">
<a href="/play/<%= @hand1 %>/rock" >Rock</a> <a href="/play/<%= @hand1 %>/paper">Paper</a> <a href="/play/<%= @hand1 %>/scissors">Scissors</a>
</div>
