<h1>Welcome to Rock, Paper, Scissors!</h1>

<p>Rock beats Scissors!</p>
<p>Paper beats Rock!</p>
<p>Scissors beats Paper!</p>

<p>Player One please choose your play:</p>

<div align="center">
<a href="/play/rock">Rock</a> <a href="/play/paper">Paper</a> <a href="/play/scissors">Scissors</a>
</div>
